* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #f4f4f4;
}

h1, p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}